<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38128753029-b0778v7mvv4n0025a7vltf3g9ss7ch10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38128753029-b0778v7mvv4n0025a7vltf3g9ss7ch10</string>
	<key>API_KEY</key>
	<string>AIzaSyBNav3gvet4fLTFGYvGeZGoXQX3V5PuA3o</string>
	<key>GCM_SENDER_ID</key>
	<string>38128753029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>native.social</string>
	<key>PROJECT_ID</key>
	<string>native-8928b</string>
	<key>STORAGE_BUCKET</key>
	<string>native-8928b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38128753029:ios:d7f76f34cc35a0b4a74cec</string>
</dict>
</plist>